/.qt
/.vs
/CMakeFiles
/x64
/CMakeCache.txt
/*.sln
/QtApp/CMakeFiles
/QtApp/Debug
/QtApp/QtApp.dir
/QtApp/QtApp_autogen
/QtAppMSIX/bin
/QtAppMSIX/obj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cmake_install.cmake
*.wapproj.user
